<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
       <form action="/addstudent"  >
   <h3>ADD STUDENT</h3>
   
    <hr>

    <label for="cod_estu"><b>Código</b></label>
    <input type="text" placeholder="Enter code" name="cod_estu" id="cod_estu" required>

    <label for="cod_nac"><b>Nacionalidad</b></label>
    <input type="text" placeholder="Enter Phone Number" name="cod_nac" id="cod_nac" required>

    <label for="apellido_estu"><b>Apellidos</b></label>
    <input type="text" placeholder="Enter Email Id" name="apellido_estu" id="apellido_estu" required>

    <label for="nombre_estu"><b>Nombres</b></label>
    <input type="text" placeholder="Enter name Id" name="nombre_estu" id="nombre_estu" required>
    
      <label for="telefono_estu"><b>Teléfono</b></label>
    <input type="text" placeholder="Enter phone" name="telefono_estu" id="telefono_estu" required>
    
    <label for="correo_estu"><b>Correo</b></label>
    <input type="text" placeholder="Enter phone" name="correo_estu" id="correo_estu" required>
     
     <label for="fecha_nac_estu"><b>Nacimiento</b></label>
    <input type="text" placeholder="Enter fecha" name="fecha_nac_estu" id="fecha_nac_estu" required>
     
     <label for="ident_estu"><b>Identificación</b></label>
    <input type="text" placeholder="Enter ident" name="ident_estu" id="ident_estu" required>

    <label for="direccion_estu"><b>Dirección</b></label>
    <input type="text" placeholder="Enter adreess" name="direccion_estu" id="direccion_estu" required>
    
   
 {{!--  <div class="gender_g">
     <strong>Gender</strong>
     <input type="radio" name="gender" id="" value="Male"> Male
     <input type="radio" name="gender" id=""  value="Female">  Female
  </div> --}}
    <button type="submit" class="registerbtn">ADD STUDENT</button>

  
    <a href="./" style="color:black">BACK TO HOME PAGE</a> <br>
     
    {{#if mesg}}
     <h3>Data Inserted</h3>

     
     {{/if}}
     
      {{#if checkmesg}}
     <h3>Emailid or Phoneno already present!</h3>
     {{/if}} 
</form>
</div>
</body>
</html>