
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
      <form action="/removestudent">
   <h3>SEARCH STUDENT</h3>
   
    <hr>
 
    <label for="cod_estu"><b>Phone no</b></label>
    <input type="text" placeholder="type phone no to be searched" name="cod_estu" id="cod_estu" required>

    <button type="submit" class="registerbtn">DELETE STUDENT</button>
    <a href="./" style="color:black">BACK TO HOME PAGE</a>

    <br>
    {{#if mesg1}}
    <h3>Data deleted!</h3>
    {{/if}}

     {{#if mesg2}}
    <h3>Not found!</h3>
    {{/if}}
    </form>
  </div>
</body>
</html>