<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="index.css">
    
    <title>Document</title>
     
</head>
<body>
     <div class="menu">
      <div class="container-logo">
            <img src="logouce.png" alt="" />  
       </div>
       
         <a href="/add">Agregar estudiante</a>
         <a href="/search">Buscar estudiante</a>
         <a href="/update">Actualizar estudiante</a>
         <a href="/delete">Eliminar estudiante</a>
         <a href="/view">Ver estudiante</a>
     </div>


     <div class="info-container">
              <h1 class="uce">UNIVERSIDAD CENTRAL DEL ECUADOR</h1>
              <h1>Facultad de Filosofía, Letras y Ciencias de la Educación</h1>
              <div class="tarjeta">
               
               <img src="inmersivo.png"  alt="">
             
               <p>La gloriosa Universidad Central del Ecuador tiene el agrado de poner su a disposición una serie de cursos y capacitaciones enfocadas al mundo <span class="tech">Tech</span> </p>
              
              </div>
             </div>

             <div class="info-container2">
              <h1>Consulta los datos de tus estudiantes matriculados</h1>

              <div class="tarjeta2">
               <p>Revise la tabla de los estudiantes matriculados en la barra de navegación. <span class="tech">Tech</span> </p>
              <img src="teacher.png" alt="">
             
               
              </div>
             </div>

             <div class="info-container3">
              <h1>Consulta los datos de tus estudiantes matriculados</h1>

              <div class="tarjeta3">
               <p> <span class="tech">Tech</span> </p>
              <img src="reading-book.png" alt="">
             
               
              </div>
             </div>


             <div class="info-container2">
              <h1>Consulta los datos de tus estudiantes matriculados</h1>

              <div class="tarjeta2">
                <img src="../assets/img/profesora.png" alt="">
               <p>La gloriosa Universidad Central del Ecuador tiene el agrado de poner su a disposición una serie de cursos y capacitaciones enfocadas al mundo <span class="tech">Tech</span> </p>
              
             
               
              </div>


             </div>
             
             
             <div class="tech-container">
 
              <h1>Tecnologias utilizadas</h1>
             

               <div class="logos-container">
                <div>
                  <img src="../assets/logos-tech/html-5.png" alt="">
                </div>

                <div>
                  <img src="../assets/logos-tech/css.png" alt="">
                </div>

                <div>
                  <img src="../assets/logos-tech/js.png" alt="">
                </div>

                <div>
                  <img src="../assets/logos-tech/node.png" alt="">
                </div>
                

                <div>
                  <img src="../assets/logos-tech/npm-logo.png" alt="">
                </div>

                <div>
                  <img src="../assets/logos-tech/posgrest.png" alt="">
                </div>


                <div>
                 <img src="../assets/logos-tech/git.png" alt="">
               </div>

               <div>
                 <img src="../assets/logos-tech/figma.png" alt="">
               </div>


               </div> 

             
             </div>


             <footer>

              <div class="textos-footer">
              <h1>Grupo 3</h1>
              <h5>Proyecto BD 5C</h5>
              </div>

              <div class="integrantes">
                  <h3>Janeth Caiza</h3>
                  <h3>Sebastián Gancino</h3>
                  <h3>Oliver Guamán</h3>
                  <h3>Sebastián Mafla</h3>
              </div>

              <div class="licen">
              <h4>Msc. Yolanda Borja</h4>
            </div>
           </footer>

          </div>

         
</body>
</html>

